.row
  .large-12.columns.fixed-height
    %fieldset
      %legend Liberal Arts Application Form
      = render partial: 'application_steps_links'
      = simple_form_for @application , url: wizard_path do |f|
        = f.input :school
        = f.input :school_town
        = f.input :school_region
        = f.input :high_school_grade, :label => "Please calculate the average of your GPAs (average grade) from 9th and 10th grade:"
        = f.input :gradebook_photo, :label => "Please, upload a transcript or a scanned copy of your school gradebooks showing your GPA from 9th and 10th grade."
        = button_tag( :class => "button") do
          Next
          %i.fi-arrow-right