.row
  .large-12.columns.fixed-height
    %fieldset
      %legend AUBG MultiTalent Quest Application From
      = render partial: 'application_steps_links'
      = simple_form_for @application , url: wizard_path do |f|
        = f.input :school
        = f.input :school_town
        = f.input :school_region
        = f.input :high_school_grade, :label => "Please calculate the average of your GPAs (average grade) from 9th and 10th grade (on the Bulgarian 6-point scale, е.г.. 5.30 in 9th grade and 5.60 in 10th grade means 5.45 average GPA for both years):"
        = f.input :gradebook_photo, :label => "Please, upload a transcript (JPG/PNG) or a scanned copy of your school gradebooks showing your GPA from 9th and 10th grade. (size limit is 5 MB)"
        = f.input :toefl, :label => "Please upload a copy (JPG/PNG) of your score of TOEFL (IBT, PBT), IELTS, CPE, CAE, ECPE, PTE Academic, SAT or ACT certificates (optional)"
        = button_tag( :class => "button") do
          Next
          %i.fi-arrow-right