.row
  .large-12.columns.fixed-height
    %fieldset
      %legend Liberal Arts Application Form
      = render partial: 'application_steps_links'
      = simple_form_for @application , url: wizard_path , :html => {:'data-abide' => 'true'} do |f|
        = f.input :photo, :label => "Portrait photo (size limit is 1 MB)"
        = f.input :facebook, :label => "Link to Facebook profile(URL)"
        = f.input :favourite_subject,:label => "What are your favorite school subjects and why? (max. 50 words)" , :input_html => {:rows => 3}
        = f.input :self_describe,:label => "Describe yourself in three words for your public profile."
        = f.input :learned_from, :label => "How did you find out about the AUBG MultiTalent Quest?" , collection: [['From my school ', 'From my school '] , ['From an organizer' , 'From an organizer'], ['From a friend' , 'From a friend'] , ['From the social networks' , 'From the social networks'] , ['From the media' , 'From the media'] ,['From AUBG', 'From AUBG'],  ['Other' , 'Other'] ]
        = button_tag( :class => "button") do
          Submit
          %i.fi-arrow-right

=javascript_include_tag 'textareavalidate'