.row
  .large-12.columns.fixed-height
    %fieldset
      %legend Liberal Arts Application Form
      = render partial: 'application_steps_links'
      = simple_form_for @application , url: wizard_path do |f|
        = f.input :name , label: 'Full name'  , :required => true
        = f.label :gender
        = f.collection_radio_buttons( :gender, [["M", 'M'], ["F", 'F']], :first, :last, label: 'Gender', checked: @application.gender , item_wrapper_class: :block_radio_button_collection  )
        = f.input :dob, :as=> 'string' ,:label => 'Date of birth', input_html: { class: 'datepicker'}
        = f.input :current_address , :label => 'Address'
        = f.input :city, :label => 'Town'
        = f.input :mobile_phone , as: :tel
        = f.check_box :further_info
        %span
        I would prefer to receive no communication from AUBG outside the AUBG MultiTalent Quest.
        .row
          .large-12.columns
            = f.check_box  :terms_of_service ,  required: true
            %span
            I accept the
            =link_to "Terms of Service" , "#" , :data => {'reveal-id' => "tos"}
            .row
              = button_tag( :class => "button") do
                Next
                %i.fi-arrow-right
#tos.reveal-modal{:class => "[expand, xlarge, large, medium, small]", :data =>{ 'reveal' => true}}
  %div.tos-container
    = tos